<div class="mt-5">
    <div class="container">
        <form [formGroup]="loginForm" novalidate class="form-signin" (ngSubmit)="loginUser(loginForm.value,loginForm.isValid)">

            <h4 class="form-signin-heading text-center">Please sign in</h4>

            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control" placeholder="username" formControlName="username">
            <small [hidden]="loginForm.controls.username.valid || (loginForm.controls.username.pristine && !submitted)" class="text-danger">*Incorrect Username</small>    

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password">
            <small [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)" class="text-danger">*Incorrect Password</small>

            <button class="btn btn-lg btn-block login-btn" type="submit">Sign in</button>
        </form>
    </div>
</div>