<div class="mt-4 container">
    <div class="row">
        <div class="mt-3 card card-block merchant-card">
            <h2 class="card-title">{{ profile.account }}</h2>
            <p class="card-text">
                {{ profile.street_address }} {{ profile.city }} {{ profile.zip }}
            </p>
            <p classs="card-text">Contact Info:<i class="fa fa-user"></i>{{ profile.contact_name }} <i class="fa fa-envelope"></i>{{ profile.contact_email}} <i class="fa fa-phone"></i>{{ profile.phone }}</p>
            <form novalidate class="form-horizontal form-profile" #profileForm="ngForm">
                <div class="form-group">
                    <label for="validation" class="control-label">Merchant Coupons</label>
                    <select class="form-control" name="validation">
                        <option *ngFor="let validation of profile.validations">{{ validation.name }}</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="!amount">

                    <label for="ticketNo" class="control-label">Enter Ticket No.*</label>

                    <input type="text" class="form-control" name="ticketNo" placeholder="Enter ticket number" [(ngModel)]="ticket.ticketNo" #ticketNo="ngModel" minlength="6" maxlength="6" required>

                    <small *ngIf="ticketNo.errors?.required && (ticketNo.touched)" cass="text-danger">*Ticket Number is required</small>
                    
                    <small *ngIf="ticketNo.errors?.minlength && (ticketNo.touched)" cass="text-danger">*You must enter 6 digits</small>

                    <small *ngIf="ticketNo.errors?.maxlength && (ticketNo.touched)" cass="text-danger">*You must enter 6 digits</small>                    

                </div>

                <p>Amount: {{amount}}</p>

                <div class="form-group" *ngIf="amount">

                    <label for="ticketAmt" class="control-label">Amount*</label>

                    <input type="text" class="form-control" name="ticketAmt" placeholder="${{amount}}" [(ngModel)]="ticket.ticketAmt" #ticketAmt="ngModel" required>

                    <small *ngIf="ticketAmt.errors?.required && (ticketAmt.touched)" cass="text-danger">*Amount is required</small>                 

                </div>

                <button *ngIf="!amount" (click)="getRate(profileForm.value,profileForm.valid)" [disabled]="profileForm.invalid" class="mt-4 btn btn-lg submit-btn">Get Ticket Rate</button>

                 <button *ngIf="amount" (click)="validateTicket(profileForm.value,profileForm.valid)" [disabled]="profileForm.invalid" class="mt-4 btn btn-lg submit-btn">Validate Ticket</button>               
            </form>
        </div>
    </div>
</div>
