<div class="mt-4 container">
    <div class="row">
        <div class="mt-3 card card-block merchant-card">
            <h2 class="card-title">{{ profile.account }}</h2>
            <p class="card-text">
                {{ profile.street_address }} {{ profile.city }} {{ profile.zip }}
            </p>
            <p classs="card-text">Contact Info:<i class="fa fa-user"></i>{{ profile.contact_name }} <i class="fa fa-envelope"></i>{{ profile.contact_email}} <i class="fa fa-phone"></i>{{ profile.phone }}</p>


            <form novalidate class="form-horizontal form-profile" #profileForm="ngForm">


                 <!-- *********** Online Aggregators ********** -->
                <!-- isReservation Radio -->
                <div class="form-group">
                    <label for="ticketReservation" class="control-label">Was your parking reserved online?*</label> 
                    &nbsp;Yes&nbsp;<input type="radio" name="ticketReservation" [(ngModel)]="ticket.ticketReservation" #ticketReservation="ngModel" [value]="true" (change)="hasReservation(profileForm.value)">
                    &nbsp;No&nbsp;<input type="radio" name="ticketReservation" [(ngModel)]="ticket.ticketReservation" #ticketReservation="ngModel" [value]="false" (change)="hasReservation(profileForm.value)">
                </div>                                       


                <!--Choose Vendor -->
                <div class="form-group" *ngIf="isReservation">
                    <label for="ticketAggregator" class="control-label">Reserved With*</label>
                    <select class="form-control" name="ticketAggregator" [(ngModel)]="ticket.ticketAggregator" #ticketAggregator="ngModel"  (change)="getAggregator(profileForm.value)" required>
                        <option [ngValue]="undefined" disabled>Choose a Vendor</option>
                        <option *ngFor="let aggregator of aggregators" [ngValue]="aggregator">{{aggregator}}</option>
                    </select>
                    <small *ngIf="ticketAggregator.errors?.required && (ticketAggregator.touched)" class="text-warning">*Choose the vendor you made the reservation with</small>     
                </div>


                <!--Reservation Code Input-->
                <div class="form-group" *ngIf="aggregator.length > 0">

                    <label for="ticketNo" class="control-label"> Reservation Code*</label>

                    <input type="text" class="form-control" name="ticketReservationNo" placeholder="Enter Reservation Code" [(ngModel)]="ticket.ticketReservationNo" #ticketReservationNo="ngModel" required>

                    <small class="text-warning" *ngIf="ticketReservationNo.errors?.required && (ticketReservationNo.touched)">*Reservation code is required</small>
                             
                </div>   

                <!-- Best Parking Reservation Info Button -->
                 <button *ngIf="aggregator === 'Best Parking' && !validateAggregator" (click)="getReservationBP(profileForm.value,profileForm.valid)" class="mt-4 mb-4 btn btn-lg submit-btn">{{buttonText}}</button>     


                <!-- Park Whiz Reservation Info Button -->
                 <button *ngIf="aggregator === 'Park Whiz' && !validateAggregator" (click)="getReservationPW(profileForm.value,profileForm.valid)" class="mt-4 mb-4 btn btn-lg submit-btn">{{buttonText}}</button>     


                <!-- Park Whiz Reservation Info Button -->
                 <button *ngIf="aggregator === 'SpotHero' && !validateAggregator" (click)="filterReservationSH(profileForm.value,profileForm.valid)" class="mt-4 btn btn-lg submit-btn">{{buttonText}}</button>     

                 <!-- Reservation Msg for SpotHero -->
                 <div *ngIf="spotHeroBarcode" class="alert alert-warning mt-4 mb-4">
                    <div *ngFor="let reservation of spotHeroReservations | SpotHeroBarcodePipe:spotHeroBarcode">
                        <strong>Ticket Status:</strong>
                        Your ticket has not been redeemed
                        <br />
                        <strong>Current Fee:${{reservation.content.permitValue}}</strong>
                    </div>
                </div>

                <!-- Reservation Msg Box for Best Parking/ParkWhiz -->
                <div class="form-group" *ngIf="validateAggregator && !paymentSuccess && !spotHeroBarcode">
                     <div [ngClass]="isRedeemed ? 'alert alert-success' : 'alert alert-warning'">
                         <div *ngIf="reservationValid">
                            <strong>Ticket status:</strong>
                            <span *ngIf="isRedeemed">Your ticket has been redeemed</span>
                            <span *ngIf="!isRedeemed">Your ticket has not been redeemed</span>
                         </div>
                         <strong>{{reservationMsg}}</strong>
                     </div>
                 </div>


                <!-- *********** Secom Validations ********** -->
                <div *ngIf="validateAggregator" class="form-group">
                    <br />
                    <h4>Validate Ticket</h4>
                </div>
                <!--Discounts Select-->
                <div class="form-group" *ngIf="!paymentSuccess && !isReservation || validateAggregator">
                    <label for="validation" class="control-label">Choose a Discount*</label>
                    <select class="form-control" name="ticketValidation" [(ngModel)]="ticket.ticketValidation" #ticketValidation="ngModel" required>
                        <option [ngValue]="''" disabled>Choose a Discount</option>
                        <option *ngFor="let validation of profile.validations" [ngValue]="validation.name">{{ validation.name }}</option>
                    </select>
                    <small *ngIf="ticketValidation.errors?.required && (ticketValidation.touched)" class="text-warning">*You must choose a Discount</small>     
                </div>

                <!--Ticket No. Input-->
                <div class="form-group" *ngIf="!amount && !paymentSuccess && !isReservation || validateAggregator">

                    <label for="ticketNo" class="control-label">Ticket Number*</label>

                    <input type="text" class="form-control" name="ticketNo" placeholder="Enter ticket No." [(ngModel)]="ticket.ticketNo" #ticketNo="ngModel" minlength="6" maxlength="6" required>

                    <small class="text-warning" *ngIf="ticketNo.errors?.required && (ticketNo.touched)">*Ticket Number is required</small>
                    
                    <small class="text-warning" *ngIf="ticketNo.errors?.minlength && (ticketNo.touched)">*You must enter 6 digits</small>

                    <small class="text-warning" *ngIf="ticketNo.errors?.maxlength && (ticketNo.touched)">*You must enter 6 digits</small>                    

                </div>     

                <!--Ticket amount-->
                <div class="form-group" *ngIf="amount && !paymentSuccess">
                    <label for="ticketAmt" class="control-label">Amount*</label>

                    <input type="text" class="form-control" name="ticketAmt" placeholder="${{amount}}" [(ngModel)]="ticket.ticketAmt" #ticketAmt="ngModel" required>

                    <small *ngIf="ticketAmt.errors?.required && (ticketAmt.touched)" cass="text-danger">*Amount is required</small>                 
                </div>

                <!-- Get current Rate of Secom Ticket -->
                 <button *ngIf="!amount && !isReservation || validateAggregator" (click)="getRate(profileForm.value,profileForm.valid)" [disabled]="profileForm.invalid" class="mt-4 mr-4 btn btn-lg submit-btn">Get Ticket Rate</button>

                 <!-- Validate Secom Ticket -->
                 <button *ngIf="amount && !paymentSuccess && !validateAggregator" (click)="validateTicket()" class="mt-4 btn btn-lg submit-btn">Validate Ticket</button>  

                 <button *ngIf="amount && validateAggregator && aggregator ==='Best Parking'" (click)="updateReservationBP(profileForm.value,profileForm.valid)" class="mt-4 btn btn-lg submit-btn">Validate Ticket</button>    
                   
                 <button *ngIf="amount && validateAggregator && aggregator ==='Park Whiz'" (click)="updateReservationPW()" class="mt-4 btn btn-lg submit-btn">Validate Ticket</button>      


                 <!--Success Message -->
                 <div *ngIf="paymentSuccess" class="alert alert-success mt-4 mb-4" role="alert">Ticket has been successfully validated.
                    <br />
                    <i class="fa fa-ticket"></i><a (click)="clearTicket()" href="#">Enter a new Ticket Number</a>
                 </div>      

            </form>
        </div>
    </div>
</div>
